<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

<!--     TODO #1 - Use a loop to display job results in a table. -->
    <table>
        <th:block th:each="job : ${jobs}">
        <tr>
            <td>
                <ul>
                    <li><b>ID: </b><i th:text="${job.id}"></i></li>
                    <li><b>NAME: </b><i th:text="${job.name}"></i></li>
                    <li><b>EMPLOYER: </b><i th:text="${job.employer}"></i></li>
                    <li><b>LOCATION: </b><i th:text="${job.location}"></i></li>
                    <li><b>POSITION: </b><i th:text="${job.positionType}"></i></li>
                    <li><b>CORE COMPETENCY: </b><i th:text="${job.coreCompetency}"></i></li>
                </ul>
            </td>
        </tr>
        </th:block>
    </table>


</div>

</body>
</html>